/* COMPONENT STYLES */
@import url("https://mikey-css.netlify.app/assets/css/components.css");

/* **************************************************************************************************** */

:root {
  --slide-dot-active: #0d6efd;
  --slide-dot-inactive: #c4c4c4;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  background-color: var(--light-mode);
  color: var(--dark-mode);
}

.dark-theme {
  --light-mode: #05103a;
  --dark-mode: #f8f9fa;
}

.hr-thin {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  width: 100%;
}

.styled-link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.styled-link:hover {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 80%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

i {
  padding: 0.5rem;
}

/* **************************************************************************************************** */

.main-container {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 25rem auto;
}

@media only screen and (max-width: 600px) {
  .main-container {
    grid-template-areas:
      "aside"
      "main";
    grid-template-columns: auto;
  }
}

/* **************************************************************************************************** */

/* HOME PAGE */

.hero-content {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30rem;
}

.hero-image {
  width: 50%;
}

.btn-fixed {
  width: 30rem;
}

@media screen and (max-width: 1080px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-text,
  .hero-image {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .btn-fixed {
    width: 20rem;
  }
}

/* **************************************************************************************************** */

/* LOGIN AND SIGNUP PAGES */

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 2rem;
  width: 30rem;
  text-align: center;
}

@media only screen and (max-width: 360px) {
  .form {
    width: 100%;
  }
}

/* **************************************************************************************************** */

/* NOTES PAGE */

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 3.5rem;
}

.filters > * {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.new_input {
  border-radius: 10px !important;
  font-family: "Nunito Sans", sans-serif;
  font-size: small;
  padding: 1rem 1.25rem !important;
}

.new_textarea {
  padding: 1.25rem;
  resize: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: small;
  border: 1px solid grey;
  border-radius: 1rem;
  outline: none;
}

select {
  font-size: 1rem;
}

fieldset {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  top: 40%;
  left: -5%;
  z-index: 1;
}

fieldset > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.card {
  min-width: 30rem;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.card-footer > * {
  display: flex;
  flex-direction: column;
}

.notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  flex-wrap: wrap;
}

/* **************************************************************************************************** */

/* LABELS PAGE */

.tags-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  padding: 1rem;
}

/* **************************************************************************************************** */

/* 404 PAGE */

.error-image {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .error-image {
    max-width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .error-image {
    max-width: 40%;
  }
}

/* **************************************************************************************************** */
